body{
    margin:0;
}
#background{
    background-image: url('https://www.sciencemag.org/sites/default/files/styles/article_main_large/public/images/sn-rockpaper.jpg?itok=4WUMt1oc');
    background-repeat: no-repeat;
    position: absolute;
    margin: 0;
    top:0;
    bottom:0;
    right: 0;
    left:0;
    background-size: 100% 100%;
    opacity: 0.15;
    z-index: -1;
}
#boxes{
    display:grid;
    grid-template: auto/1fr 1fr;
    grid-template-areas: "playerBoxes computerBoxes";
    justify-items: center;
}
#buttons{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    margin: 5vh auto 3vh 0;
    height: auto;
}
#choices{
    display: grid;
    grid-template: auto auto/1fr 1fr;
    font-size: 2rem;
    justify-items: center;
    border-top:2px solid black;
}
#result{
    text-align: center;
    font-size: 2rem;
}
.playAgain{
    position: absolute;
    left: 50vw;
    top: 40vh;
    width: 10vw;
    margin-left: -5vw;
}
#rock{
    background-color: black;
    border-radius: 50%;
    outline: none;
    border:0;
}
img{
    width:12rem;
    height: 12rem;
}
#paper{
    background-color: black;
    border-radius: 50%;
    outline: none;
    border:0;
}
#scissors{
    background-color:black;
    border-radius: 50%;
    outline: none;
    border:0;
}
.buttonTransform{
    transform: scale(1.1);
}